
@font-face {
	font-family: 'Balsamiq Sans';
	src: url('../fonts/BalsamiqSans-Regular.eot');
	src: local('Balsamiq Sans Regular'), local('BalsamiqSans-Regular'),
		url('../fonts/balsamiq/BalsamiqSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/balsamiq/BalsamiqSans-Regular.woff2') format('woff2'),
		url('../fonts/balsamiq/BalsamiqSans-Regular.woff') format('woff'),
		url('../fonts/balsamiq/BalsamiqSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	overflow: hidden;
}

#game {
	display: block;
	margin: 0 auto;
}

.hints {
	font: 20px 'Balsamiq Sans';
	color: #fff;
	text-align: center;
	position: relative;
	top: 50px;
	left: 64px;
}